<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Tracking Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', function() {
                console.log('Connected to server');
                socket.send('User has connected!');
            });

            socket.on('message', function(msg) {
                console.log('Received message: ' + msg);
            });
            document.querySelector('#sendButton').addEventListener('click', function() {
                socket.send('Hello again, server!');
            });
        });
    </script>
</head>
<body>
    <h1>WebSocket Tracking Test Page</h1>
    <button id="sendButton">Send Message</button>
</body>
</html>
